

#name {
	font-family: "Helvetica";
	font-weight: bold;
	color: #581845;
	font-size: 20px;
}

#edu {
	font-family: "Trebuchet MS";
	color: #900C3F;
	font-size: 16px;
}

#profex {
	font-family: "Trebuchet MS";
	color: #900C3F;
	font-size: 16px;
	background-color: #FFBE33;
}

#skills {
	font-family: "Trebuchet MS";
	color: #900C3F;
	font-size: 16px;
	background-color: #FECC62;
	font-weight: bold;
}

#act {
	font-family: "Trebuchet MS";
	color: #900C3F;
	font-size: 16px;
	background-color: #FDDC95;	
}

.box {
	background-color: #E0DAAD;
	margin: 20px;
}
